html {
    background-color: black;
    color: white;
}

#contenedor div {
    margin: 10px;
    display: flex;
}

.tarjeta {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid white;
    padding: 5px;
}

.titulo {
    font-size: 20;
    width: max-content;
    margin-right: 20px;
}

.completada {
    color: white;
}

.incompleta {
    color: red;
    text-decoration: line-through;
    text-decoration-thickness: 18px;
    text-decoration-color: red;
}